<h1>
    {{title}}
</h1>
<div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
        Button dropdown <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
        </li>
    </ul>
</div>
<accordion>
    <accordion-group heading="Static Header, initially expanded">
        This content is straight in the template.
    </accordion-group>
    <accordion-group #group>
        <div accordion-heading>
            I can have markup, too!
            <i class="pull-right float-xs-right glyphicon"
               [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
        </div>
        This is just some content to illustrate fancy headings.
    </accordion-group>
    <accordion-group heading="Content 1">
        <p>Content 1</p>
    </accordion-group>
    <accordion-group heading="Content 2">
        <p>Content 2</p>
    </accordion-group>
</accordion>